/nep5_contract/bin
/nep5_contract/obj
/plugin_nep5/obj
/.vs
/packages
/plugin_nep5/packages
/nep5_contract_hack/obj
/nep5_contract_hack/bin
/nep5.1_contract/.vs
/nep5.1_contract/bin
/nep5.1_contract/obj
